.App {
    display: flex;
}

.App img {
    max-width: 150px;
    max-height: 150px;
}

.preview {
    margin-left: 50px;
    padding: 5px;
    min-width: 300px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}